.container {
    background: linear-gradient(#d00000, #6a040f);
    background-color: #d00000;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.container img.rings {
    position: absolute;
    opacity: 0.5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container header {
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.container header .logo {
    position: relative;
}

.container header .logo img {
    height: 8em;
}

.container header nav ul li {
    float: left;
    list-style: none;
    margin-right: 3em;
}

.container header nav ul li a {
    font: 1em 'Londrina Solid', cursive;
    font-weight: 900;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    position: relative;
}

.container header nav ul li a:after {
    content: '';
    width: 0%;
    height: 0.2em;
    background-color: #ffc107;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: 500ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.container header nav ul li a:hover:after {
    width: 80%;
}

.container header .basket {
    position: relative;
    right: 10px;
}

.container header .basket a {
    padding: 12px;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #fff;
    color: #370617;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    transition: all 250ms ease-in-out;
}

.container header .basket a:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffc107;
}

.container header .basket .basket-items {
    position: absolute;
    top: -5px;
    right: -8px;
    height: 20px;
    width: 20px;
    background-color: #370617;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    font-family: 'Mada', sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
}

.container section {
    padding-top: 60px;
    max-width: 1400px;
    margin: auto;
    height: inherit;
    display: flex;
}

.container section .product {
    position: relative;
    color: #ffc107;
    width: 50%;
}

.container section .product h1 {
    font: 5em 'Londrina Solid', cursive;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 1em;
    margin-bottom: 30px;
    text-shadow: 3px 3px 0 #000;
    position: relative;
    overflow: hidden;
    height: 165px;
}

.container section .product h3 {
    font: 2em 'Londrina Solid', cursive;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #000;
    -webkit-text-stroke: 2px #000;
    position: relative;
    overflow: hidden;
    height: 40px;
}

.container section .product p {
    width: 80%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    position: relative;
    overflow: hidden;
    height: 205px;
}

.container section .product p strong {
    display: block;
    font-size: 1.2em;
    letter-spacing: 1px;
    padding-top: 10px;
}

.container section .product h2 {
    font: 3em 'Londrina Solid', cursive;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 40px 0px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #000;
    -webkit-text-stroke: 2px #000;
    position: relative;
    overflow: hidden;
    height: 60px;
}

.container section .product .btn {
    height: 60px;
    overflow: hidden;
}

.container section .product a {
    position: relative;
    z-index: 1;
    display: inline-block;
    border: 2px solid #ffc107;
    padding: 10px 40px;
    box-sizing: border-box;
    font: 1em 'Londrina Solid', cursive;
    font-weight: 900;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    transition: all 250ms ease-in-out;
}

.container section .product a:hover {
    background-color: #ffc107;
    color: #370617;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.container section .product a:after {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #ffc107;
    transition: 500ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.container section .product a:hover:after {
    width: 100%;
}

.container section .product-display {
    position: relative;
    width: 60%;
}

.container section .product-display figure {
    position: relative;
}

.container section .product-display figure .doritos {
    position: absolute;
    width: 55em;
    right: -20px;
    top: -6em;
    z-index: 1;
}

.container section .product-display figure .backdrop {
    width: 40em;
    height: 50em;
    background-color: #ffae03;
    position: absolute;
    top: 15em;
    right: 60px;
    border-radius: 30px;
    transform: skew(-5deg, -5deg);
}

.container section .product-display figure span {
    position: relative;
}

.container section .product-display figure span img {
    position: absolute;
    z-index: 5;
}

.container section .product-display figure span .chips {
    height: 22em;
    top: -5em;
    left: 22em;
    transform: rotate(10deg);
}

.container section .product-display figure span .ketchup {
    height: 9em;
    top: 33em;
}

.container section .product-display figure span .chilli {
    height: 20em;
    top: 30em;
    left: 28em;
    z-index: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 99;
}

.first {
    background-color: #d00000;
}

.second {
    background-color: #d00000;
    left: 33.3%;
}

.third {
    background-color: #d00000;
    left: 66.6%;
}

.hide {
    position: absolute;
}